parameters:

database:
    dsn: 'mysql:host=127.0.0.1;dbname=bakalarka'
    user: root
    password: root

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	baseFormFactory: App\Forms\BaseFormFactory
	signFormFactory: App\Forms\SignFormFactory
	articleFormFactory: App\Forms\ArticleFormFactory
	categoryFormFactory: App\Forms\CategoryFormFactory

	articleFacade: App\Model\ArticleFacade
	categoryFacade: App\Model\CategoryFacade
	userFacade: App\Model\UserFacade
	authenticator: App\Model\Authenticator

	router: App\RouterFactory::createRouter
	permissions:
	    class: Nette\Security\Permission
	    setup:
	        - addRole(guest)
	        - addRole(ROLE_USER, guest)
	        - addRole(ROLE_ADMIN, ROLE_USER)

	        - addResource(Error)
	        - addResource(Error4xx)
	        - addResource(Homepage)
	        - addResource(Article)
	        - addResource(ArticleList)
	        - addResource(Category)
	        - addResource(CategoryList)
	        - addResource(Sign)

	        - deny(ROLE_USER, Sign, [in, up])

	        - allow(guest, Error)
	        - allow(guest, Error4xx)
	        - allow(guest, Homepage)
	        - allow(guest, Sign)
	        - allow(guest, Article, [default])
	        - allow(ROLE_USER, Article, [add, edit])
	        - allow(ROLE_USER, ArticleList)
	        - allow(ROLE_ADMIN, Category)
	        - allow(ROLE_ADMIN, CategoryList)
